@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core - Working fine -- Changed this again</a>.</p>
    <h1>SRI RAMA RAMETI RAME RAME MANORAME SAHASRA NAMA TATTULYAM RAMA NAMA VARANANE</h1>
</div>
